<table class="table table-bordered">
    <thead>
        <tr>
            <td><b>ID</b></td>
            <td><b>UserName</b></td>
            <td><b>Description</b></td>
            <td><b>Email</b></td>
        </tr>
    </thead>
       <tbody>
            <tr *ngFor="let item of peopleList | filter:term">
                
                <td>{{item.Id}}</td>
                <td>{{item.UserName}}</td>
                <td>{{item.Description}}</td>
                <td>{{item.Email}}</td>
                
            </tr>
       </tbody>
   
  </table> 